<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
</head>

<body>
    <% if(flashErrors && flashErrors.length> 0){ %>
        <% for(const errorMessage of flashErrors) { %>
            <p>ERROR flash: <%= errorMessage %>
            </p>
            <% } %>
                <% } %>

                    <% if(flashSuccess && flashSuccess.length> 0){ %>
                        <% for(const successMessage of flashSuccess) { %>
                            <p>SUCCESS flash: <%= successMessage %>
                            </p>
                            <% } %>
                                <% } %>
                                    <h1>Create a new listing:</h1>
                                    <form action="/products" method="POST">
                                        <div>
                                            <label for="title">Header:</label>
                                            <input type="text" id="title" name="title">
                                        </div>
                                        <div>
                                            <label for="description">Description:</label>
                                            <input type="text" id="description" name="description">
                                        </div>
                                        <div>
                                            <label for="price">Price:</label>
                                            <input type="number" id="price" name="price">
                                        </div>
                                        <div>
                                            <label for="inStock">Quantity available:</label>
                                            <input type="number" id="inStock" name="inStock">
                                        </div>
                                        <button>Submit</button>
                                    </form>
                                    <a href="/products">Back To All Products</a>
</body>

</html>